node_modules
.env
chatbot.db
conversations.db
.vs
*.db-shm
*.db-wal
*.log
error.log
/database.log
/d
/windsurf-project
/CascadeProjects/windsurf-project
/local.code-workspace-test.code-workspace
conversations.sqbpro
